body{
    background-color: grey;
    margin: 0 ;
    padding: 0;
}

.some{
    margin-left: 20px;
    margin-top: 60px;
}

.tata{
    color: orangered;
}

.para{
    
    color: aqua;
    float: right;
    display: inline;
    justify-content: space-between;
    margin-right: 30px;
    padding: 0;
    border: 5px solid red;
}

.tug{
    border: 5px solid yellow;
}

.tag{
    margin-top: 60px;
    color: brown;
    font-style: itallic;
    margin-left: 600px;
}

.mug{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.top{
    border: 7px solid blue;
}

.tat{
    margin-top: 50px;
    background: fixed;
    background-image: url(nature.jpg);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-left: 20px;
    margin-right: 20px;

}